button:disabled
{
    cursor: default;
}

body
{
    font-family: 'Poppins', 'LXGW WenKai TC', Arial, sans-serif;

    overflow-x: hidden;
    overflow-y: hidden;

    margin: 0;
    padding: 0;

    user-select: none;
    text-align: center;

    color: #49475b;
    background-color: #ede6e3;
}

#timer
{
    font-family: 'Ubuntu Sans Mono', monospace;
    font-weight: 600;

    position: absolute;
    z-index: 100;

    display: grid;

    width: 100%;
    height: 100%;

    color: #fff;
    background: #000;

    place-items: center;
}

#timer #date
{
    font-size: 80px;

    margin: 0;
}

#timer #time
{
    font-size: 160px;

    margin: 0;
}

#timer #close
{
    font-size: 24px;

    position: absolute;
    top: 20px;
    right: 20px;

    width: 20px;
    height: 20px;

    color: #111;
    background: none;
}

main
{
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
}

h1.game-title
{
    font-size: 48px;
}

.grid-container
{
    display: grid;

    width: fit-content;
    margin: 20px auto;
    padding: 10px;

    border-radius: 10px;
    background: #acc196;

    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(6, 80px);
    gap: 2px;
}

.cell
{
    font-size: 28px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 80px;

    border: 1px solid black;
    background: white;
}

.header
{
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #e9eb9e;
}

.marker
{
    position: absolute;

    width: 30px;
    height: 30px;

    cursor: pointer;
    transition: 200ms;

    border-radius: 50%;
}

.marker:hover
{
    transform: scale(1.1);
}

.teamA
{
    background-color: #d95065;
}

.teamB
{
    background-color: #03a7ff;
}

#stopwatch
{
    font-family: 'Ubuntu Sans Mono', monospace;
    font-weight: 600;
}

#stopwatch #timeDisplay
{
    font-size: 60px;

    margin: 0;
}

#stopwatch input
{
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 32px;

    width: 100%;
    height: 40px;

    text-align: center;

    color: #49475b;
    border: none;
    outline: none;
    background: none;
}

#stopwatch input::placeholder
{
    font-size: 24px;
    font-style: italic;

    text-align: left;
}

#stopwatch .stopwatch-buttons
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

#stopwatch .stopwatch-buttons button
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;

    width: 120px;
    height: 50px;

    transition: 200ms;

    border-radius: 10px;
}

#stopwatch .stopwatch-buttons #startBtn
{
    background: #acc196;
}

#stopwatch .stopwatch-buttons #pauseBtn
{
    background: #ebd278;
}

#stopwatch .stopwatch-buttons #resetBtn
{
    background: #e0a292;
}

#stopwatch .stopwatch-buttons button:hover
{
    transform: scale(1.05) translateY(-3px);

    box-shadow: 0 2px 5px #666;
}

#pop-up
{
    font-size: 56px;
    font-weight: 600;

    position: absolute;
    top: 50%;
    left: 50%;

    display: grid;

    width: 400px;
    height: 300px;

    transition: 200ms;
    transform: translate(-50%, -50%);

    opacity: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, .5);

    backdrop-filter: blur(10px);
    place-items: center;
}

#pop-up #closePOPUP
{
    font-size: 24px;
    font-weight: 400;

    position: absolute;
    top: 5px;
    right: 5px;

    width: 30px;
    height: 30px;

    color: #ede6e3;
    background: #49475b;
}

.controls
{
    display: flex;
    justify-content: center;

    margin-top: 20px;

    gap: 50px;
}

.team-controls
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons
{
    display: grid;
    align-items: center;

    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    gap: 5px;
    justify-items: center;
}

button
{
    font-size: 28px;
    font-weight: 800;

    width: 50px;
    height: 50px;

    cursor: pointer;
    transition: 200ms;
    transform-origin: center;

    border: none;
    border-radius: 50%;
    outline: none;
}

.team-controls:first-child .buttons button
{
    background: radial-gradient(rgba(255, 255, 255, .5) 40%, #d95065);
}

.team-controls:last-child .buttons button
{
    background: radial-gradient(rgba(255, 255, 255, .5) 40%, #03a7ff);
}

.up
{
    grid-column: 2;
    grid-row: 1;
}

.left
{
    grid-column: 1;
    grid-row: 2;
}

.right
{
    grid-column: 3;
    grid-row: 2;
}

.down
{
    grid-column: 2;
    grid-row: 3;
}

.up:hover
{
    transform: scale(1.1) translateY(-5px);

    box-shadow: 0 2px 5px #666;
}

.down:hover
{
    transform: scale(1.1) translateY(5px);

    box-shadow: 0 2px 5px #666;
}

.left:hover
{
    transform: scale(1.1) translateX(-5px);

    box-shadow: 0 2px 5px #666;
}

.right:hover
{
    transform: scale(1.1) translateX(5px);

    box-shadow: 0 2px 5px #666;
}

.scoring-system
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 40px;
}

.team-scores
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.displayed-score
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.displayed-score div
{
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 40px;

    display: grid;

    width: 40px;
    height: 70px;
    margin: 2px;

    border-radius: 5px;

    place-items: center;
}

.teamA-displayed-score div
{
    background: linear-gradient(135deg, #d95065 10%, #fff 10%, #fff 90%, #d95065 90%);
}

.teamB-displayed-score div
{
    background: linear-gradient(135deg, #03a7ff 10%, #fff 10%, #fff 90%, #03a7ff 90%);
}

.team-buttons
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.team-buttons button
{
    font-size: 24px;

    width: 33px;
    height: 33px;
    margin: 2px;

    border-radius: 5px;
}

.team-buttons button:first-child
{
    background: #acc196;
}

.team-buttons button:last-child
{
    background: #e0a292;
}
